body {
    /* background-color: cornflowerblue;
     */
    background: url("Q1.jpg")no-repeat center center/cover;

overflow-x: hidden;
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#h1 {
    text-align: center;
    margin: auto;
    padding-top: 5rem;
    font-size: 5.4rem;
    font-style: italic;
    color: white;
}

#nav_bar {
    text-align: center;
    background-color: black;
    width: 100%;
    height: 4rem;
    padding: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-items: center;
    position: fixed;
}

#nav_list {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#nav_list li a {
    display: block;
    margin-left: 5rem;
    font-size: 1.8rem;
    color: brown;
    font-weight: bolder;
}

@media (max-width:1000px) {

    #nav_list li a {
        margin-left:2.3rem;
        font-size: 1.6rem;
    }
}
@media (max-width:800px) {
    #nav_list li a
    {
        margin-left: 2rem;
        font-size: 1.1rem;
    }
    #h1
    {
        font-size: 3.3rem;
    }
  
}

#container {
    margin-top: 0;
    padding-top: 5rem;
}

#container2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#simple {
    text-align: center;
    width: 25rem;
    background-color: rgb(20, 20, 99);
    margin-top: 1rem;
    height: 4rem;
    font-size: 2.6rem;
    list-style: none;
    font-style: italic;
    border: solid white 2px;
    font-weight: bolder;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#simple1 :hover {
    background-color: crimson;
}

a>#simple {
    color: white;
}

#mid {
    text-align: center;
    width: 25rem;
    background-color: rgb(20, 20, 99);
    margin-top: 1rem;
    height: 4rem;
    font-size: 2.6rem;
    list-style: none;
    font-style: italic;
    border: solid white 2px;
    font-weight: bolder;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a>#mid {
    color: white;
}

#hard {
    text-align: center;
    width: 25rem;
    background-color: rgb(20, 20, 99);
    margin-top: 1rem;
    height: 4rem;
    font-size: 2.6rem;
    list-style: none;
    font-style: italic;
    border: solid white 2px;
    font-weight: bolder;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width:800px) {
    #simple1
    {
        font-size: 1.8rem;
    }
    #mid1
    {
        font-size: .8rem;
    }
    #hard1
    {
        font-size: 1.8rem;
    }
}

a>#hard {
    color: white;
}



#rules {
    margin-top: 5rem;
}

#rsimple {
    border: solid white 2px;
    border-radius: 4rem;
}

#rsimple>h1 {
    font-size: 3.5rem;
    color: rgb(255, 0, 0);
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}

#rmid {
    border: solid white 2px;
    border-radius: 4rem;
    margin-top: 3rem;
}

#rmid>h1 {
    font-size: 3.5rem;
    color: rgb(255, 0, 0);
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}

#rhard {
    border: solid white 2px;
    border-radius: 4rem;
    margin-top: 3rem;
}

#rhard>h1 {
    text-align: center;
    font-size: 3.5rem;
    color: rgb(255, 0, 0);
    font-weight: bolder;
    font-style: italic;
}

#simple_list>li {
    color: white;
    font-size: 2rem;
    /* margin-left: 34rem; */
    font-weight: bold;
    font-style: italic;
    margin-top: 1rem
}
#simple_list
{
    width: 100%;
    text-align: center;
    align-items: center;
}
#mid_list
{
    width: 100%;
    text-align: center;
    align-items: center;
}
#hard_list
{
    width: 100%;
    text-align: center;
    align-items: center;
}

#mid_list>li {
    color: white;
    font-size: 2rem;
    /* margin-left: 34rem; */
    font-weight: bold;
    font-style: italic;
    margin-top: 1rem;
}

#hard_list>li {
    color: white;
    font-size: 2rem;
    /* margin-left: 34rem; */
    font-weight: bold;
    font-style: italic;
    margin-top: 1rem;
}

html {
    scroll-behavior: smooth;
}