*
{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    overflow: hidden;
}
body
{
    /* background-color: cornflowerblue;
     */
     background: url("Q1.jpg")no-repeat center center/cover;
}

/*simple mode*/
html
{
    cursor: pointer;
}

#questions
{
    width: 90vw;
    border: solid rgb(255, 255, 255) 3px;
    height: 5rem;
    margin: auto;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 1.5rem;
    /* padding-top: 3rem; */
    background-color: rgb(28, 28, 80);
}
#timer
{
    /* border: solid white 4px; */
    border-radius: 100%;
    width: 10rem;
    /* border: solid rgb(255, 255, 255) 4px; */
    height: 6rem;
    display: flex;
    text-align:center;
    align-items: center;
    /* padding-left: 12px; */
    justify-content:center;
    margin: auto;
    font-style: italic;
    font-weight: bolder;
    /* font-size: 2rem; */
    margin-top: 1rem;
    color: white;
    font-size: 4.5rem;
}
#question_main
{
    /* margin-left: 4rem; */
    font-size: 3rem;
    font-style: italic;
    font-weight: bolder;
}
#options
{
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-self: center;
}
#option
{
    display: flex;
}
#A
{
    color: white;
}
#B
{
    color: white;
}
#C
{
    color: white;
}
#D
{
    color: white;
}
#option_ab
{
    display: flex;
}
#option_cd
{
    display: flex;
}
#optionA
{
    width: 33rem;
    height: 4.3rem;
    border: solid rgb(255, 255, 255) 2px;
    margin-right: 18rem;
    margin-top: 4rem;
   border-radius: 4rem;
   display: flex;
   /* justify-content: left; */
   align-items: center; 
   background-color: rgb(28, 28, 80);
   font-size: 2.5rem;
   font-style: italic;
    font-weight: bolder;
   
}


#opa
{
    margin-left: 2.5rem;
    color: red;
}
#opb
{
    margin-left: 2.5rem;
    color: red;
}
#opc
{
    margin-left: 2.5rem;
    color: red;
}
#opd
{
    margin-left: 2.5rem;
    color: red;
}
#optionB
{
    width: 33rem;
    height: 4.3rem;
    border: solid rgb(255, 255, 255) 2px;
    margin-top: 4rem;
    border-radius: 4rem;
    font-size: 2.5rem;
    display: flex;
    justify-content: left;
    align-items: center; 
   font-style: italic;
    font-weight: bolder;
    background-color: rgb(28, 28, 80);
   
}
#optionC
{
    width: 33rem;
    height: 4.3rem;
    border: solid rgb(255, 255, 255) 2px;
    margin-right: 18rem;
    margin-top: 4rem;
    border-radius: 4rem;
    font-size: 2.5rem;
    display: flex;
    justify-content: left;
    align-items: center; 
   font-style: italic;
    font-weight: bolder;
    background-color: rgb(28, 28, 80);
   
}
#optionD
{
    width: 33rem;
    height: 4.3rem;
    border: solid rgb(255, 255, 255) 2px;
    margin-top: 4rem;
    border-radius: 4rem;
    font-size: 2.5rem;
    display: flex;
    justify-content: left;
    align-items: center; 
    font-style: italic;
    font-weight: bolder;
    background-color: rgb(28, 28, 80);
    
}
#buttons
{
    text-align: center;
    margin-top: 4rem;
}
#start
{
    width: 13rem;
    font-size: 1.6rem;
    font-weight: bolder;
    border-radius: 3rem;
    height: 3.5rem;
    margin-right: 3.3rem;
}
#start:hover
{
    background-color: brown;
    color: aliceblue;
}
#start>a:hover{
    color: white;
}
#next
{
    width: 13rem;
    font-size: 1.6rem;
    height: 3.5rem;
    margin-right: 3.3rem;
    font-weight: bolder;
    border-radius: 3rem;
}

#next:hover
{
    background-color: brown;
    color: white;
}
#game
{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    text-align: center;
    margin-top: 30rem;
    font-size: 7rem;
}


